.blinders-extention {
  box-sizing: border-box;
  background: white;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  padding: 8px 12px;
  border: 1px solid rgba(0, 0, 0, 0.22);
  border-radius: 3px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: max-content;
  width: max-content;
}

.blinders-extention-secondary {
  font-size: 12px;
  color: #666666;
}

.blinders-extention-dib {
  display: inline-block;
}
